
.r6o-tag {
  display: block !important;
}
.r6o-widget.r6o-tag ul.r6o-taglist li {
  float: left !important;
}

.r6o-tag:empty{
  display: none !important;
}
.r6o-widget.r6o-tag{
  display: block !important;
}
.r6o-widget.r6o-tag:empty{
  display: none !important;
}
.tag-count{
  font-size:0.7em !important;
  color: #7e96a7;
}

.r6o-editor.align-right{
  text-align: left !important;
}
.r6o-widget.comment {
  text-align: left !important;
}


.r6o-lastmodified-at{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.r6o-lastmodified-by{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/*Resolves issue of annotations hidden by media*/
.contextual-region.media.media--type-image{
  overflow: visible !important;
}
.media.media--type-image{
  overflow: visible !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  opacity: 0.85;
  min-width: 150px; /* Set a default minimum width */
  margin-left: -75px; /* Divide value of min-width by 2 */
  background-color: #3a79ba; /* Black background color */
  color: white; /* White text color */
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 15px;
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 5px; /*16px;  Padding */
  position: fixed; /* Sit on top of the screen */
  /*z-index: 1;  Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 0.85;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 0.85;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 0.85;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 0.85;}
  to {bottom: 0; opacity: 0;}
}