.r6o-widget.r6o-tag{
  display: flex !important;
  flex-direction: column;
}

.r6o-widget.r6o-tag .r6o-taglist li{
  float: left !important;
}

.r6o-widget.r6o-tag:empty {
  display: none !important;
}

.r6o-widget.r6o-tag .r6o-taglist {
  overflow: scroll;
}

.r6o-tag-selector {
  width: 100%;
  height: var(--sp2) !important;
  font-family: "Lato",sans-serif;
  font-size: 12px;
}

.r6o-lastmodified-at{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.r6o-lastmodified-by{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}